<h1>The Art Fair Gallery</h1>

<p>The Art Fair Gallery started as a way to help my aunt reach her customers once the art fair was over.  How did she let people know where she would be next weekend?  How could she show off what she was making?  Was there a centralized place for her to reconnect?
</p>
<p>You can hand out cards and flyers, but will your customer know where they are when they are looking to purchase?
</p>

<p>What if they could just find you in one place.  They could find the next art fair you were attending.  They could reconnect with you over the winter, when art shows are less frequent.</p>

<%= link_to 'home', root_path %>